*{ box-sizing: border-box }
body{
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 1.5;
    background-color: #ecf0f1;
}
.card-list{

    /*
        Cukup dengan display: flex
        * Layout kolom tanpa floating
        * Tinggi Item sama menyesuaikan
    */
    display: flex;
    flex-flow: row wrap;

}
.card{
    margin: 10px;
    background-color: white;
    width: calc( 33.333% - 20px);
}

.card__image img{
    width: 100%;
    max-width: 100%;
}
.card__content{
    padding: 20px;
    background-color: white;
}
.card__title{ margin: 0 0 20px }
.card__desc{ color: #95a5a6 }
